#define BG #000000
#define FG #dddddd
#define BL #080808
#define WH #191919
#define R #D65C5C
#define G #ffaa88
#define Y #789978
#define B #7788aa
#define M #708090 
#define C #deeeed

st.font: fairfax:pixelsize=12:antialias=false;
! st.font: Roboto Mono:style=Regular:pixelsize=14;
st.borderpx: 30

*.foreground: FG
*.background: BG
*.cursorColor: FG
*.color0: BL
*.color8: BL
*.color1: R
*.color9: R
*.color2: G
*.color10: G
*.color3: Y
*.color11: Y
*.color4: B
*.color12: B
*.color5: M
*.color13: M
*.color6: C
*.color14: C
*.color7: WH
*.color15: WH
